* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #3CDBC0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.text {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.header {
    width: 100vw;
    text-align: center;
    background-color: #fff;
    position: fixed;
}

.logo--image {
    width: 155px;
    margin-top: 10px;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu__list-item {
    margin: 10px 10px 13px 10px;
}

.menu__link {
    min-width: 50px;
    text-align: center;
    color: #4a4a4a;
    text-transform: uppercase;
    text-decoration: none;
}

.main {
    height: 100%-117px;
    position: relative;
    top: 117px;
    display: flex;
    justify-content: center;
}

.text__container {
    width: 250px;
    text-align: center;
    transform: translatey(25vh)
}

@media all and (min-width: 768px) {

    h1 {
        font-size: 48px;
    }

    .header {
        display: flex;
        flex-direction: row;
    }
    
    .logo--link {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        padding: 20px 0 20px 30px;
    }

    .logo--image {
        margin-top: 0;
    }

    .menu {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
}